In [4]:
import numpy as np
import pandas as pd
import statsmodels.formula.api as sm
from scipy.special import y_pred

In [5]:
df = pd.read_csv('Advertising.csv', index_col=0)
df

        TV  Radio  Newspaper  Sales
1    230.1   37.8       69.2   22.1
2     44.5   39.3       45.1   10.4
3     17.2   45.9       69.3    9.3
4    151.5   41.3       58.5   18.5
5    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
196   38.2    3.7       13.8    7.6
197   94.2    4.9        8.1    9.7
198  177.0    9.3        6.4   12.8
199  283.6   42.0       66.2   25.5
200  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [7]:
# OLS ordinary least square
# y = m1x1 + m2x2 + m3x3 + b
# Sales = TV + Radio + Newspaper
model_all_in = sm.ols('Sales ~ TV + Radio + Newspaper', df).fit()

In [8]:
model_all_in.params  # Slope

Intercept    2.938889
TV           0.045765
Radio        0.188530
Newspaper   -0.001037
dtype: float64

In [9]:
y_mean = np.mean(df.Sales)
mean_sum_square = np.sum((y_mean - df.Sales) ** 2)
mean_sum_square

5417.14875

In [10]:
y_pred = model_all_in.predict(df)

fit_sum_square = np.sum((y_pred - df.Sales) ** 2)
fit_sum_square

556.8252629021872

In [15]:
p = len(df.columns) - 1  # 扣掉 y
n = len(df)

'''
F > 1，表示 x 其中有一個與 y 有關係
F < 1，表示 ｘ 與 y 沒有關係
'''
F = (mean_sum_square - fit_sum_square) / p / (fit_sum_square / (n - p - 1))
F

570.2707036590942